* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.about-us {
  font-family: 'Cabin', sans-serif;
}

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.containerVid {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #225470;
  z-index: 1;
  opacity: 0.55;
}

.header-content {
  z-index: 2;
}

@@media (max-width: 960px) {
  .containerVid {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

/* Page Scroll Animation */

.box {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: -8px;
  animation: animate 2s infinite;
}

.box span:nth-child(2) {
  animate-delay: -0.2s;
  transform: rotate(45deg) translate(-20px, -20px);
}

.box span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
    /* transform: rotate(45deg) translate(0px, 0px); */
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

/* Page Scroll Animation End */

/* Banner */

.banner {
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.banner-overlay {
  height: 50vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #225470;
  z-index: 1;
  opacity: 0.77;
}

.banner-content {
  z-index: 2;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: bolder;
  padding: 3px;
  background: grey;
  opacity: .5;
}

/* Banner 1: About us */

.banner1 {
  background-image: url('../img/b1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Banner2: Achievements */

.banner2 {
  background-image: url('../img/b2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Banner3: Contact Us */

.banner3 {
  background-image: url('../img/b3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Banner4: Gallery */

.banner4 {
  background-image: url('../img/b4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Banner5: Team */

.banner5 {
  background-image: url('../img/b5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


/* Social Icons */
.links {
  position: relative;
  margin: 10vh auto 15vh;
}
.links ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}

.links ul li {
  list-style: none;
  margin: 0 40px;
}

.links ul li a .fa {
  font-size: 30px;
  color: #262626;
  line-height: 60px;
  transition: .5s;
}

.links ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  background: #d3d3d3;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
}

.links ion-icon {
  color: #262626;
  margin-top: 10px;
  font-size: 40px;
}

.links:hover ion-icon {
  color: #fff;
  margin-top: 10px;
  font-size: 40px;
}

.links ul li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

.links ul li a:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.links ul li a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
}

.links ul li:hover .fa {
  color: #fff;
}

.links ul li:hover:nth-child(1) a {
  background: #3b5999;
}

.links ul li:hover:nth-child(1) a:before {
  background: #2e4a86;
}

.links ul li:hover:nth-child(1) a:after {
  background: #4a69ad;
}

.links ul li:hover:nth-child(2) a {
  background: #e4405f;
}

.links ul li:hover:nth-child(2) a:before {
  background: #d02d4c;
}

.links ul li:hover:nth-child(2) a:after {
  background: #f1395c;
}


.links ul li:hover:nth-child(3) a {
  background: #b31217;
}

.links ul li:hover:nth-child(3) a:before {
  background: #b31117;
}

.links ul li:hover:nth-child(3) a:after {
  background: #c74747de;
}
